<% provide(:current, @user.email) %>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        Nome: <%= @user.profile.name %>
        Username: <%= @user.username %>
        Mail: <%= @user.email %>
      </h1>
    </section>

  </aside>

</div>

<div class="row">
  <div class="span4">
  <% if logged_in? %>
    <%= link_to t('pages.logout'), logout_path, class: "btn btn-medium btn-primary"  %>
    <%= link_to t('pages.add games'), add_games_path, class: "btn btn-medium btn-primary"  %>
    <%= link_to t('pages.edit profile'), edit_user_path(current_user), class: "btn btn-medium btn-primary"  %>
  <% end %>
  </div>
</div>

<div class="border-row">
    <div class="box-content down"></div>
</div>

<h1 class = "game-header"> Seus Jogos </h1>
<% if @user.profile.games.empty? %>
    <div class = "game-area">
      <center>
        <h2 class="game-title"> Sem jogos </h2>
      </center>
    </div> <!-- Game area -->
<% end %>

<% @user.profile.games.each do |game| %>
  <div class = "game-area">
    <h2 class="game-title"> <%= game.name %> </h2>
    <p class="game-text"> <%= game.rate %> </p>
    <!-- tag e de empty, placeholder para pegar id -->
    <h4><%= t("Bits: ") %><e id= <%= "game_bits_#{game.id}" %>><%= game.likes.count %></e></h4>
    <% if logged_in? %>
      <%= render 'layouts/like_button', :game => game %>
      <%= link_to 'Edit', edit_game_path(game), class: "btn btn-small btn-primary" %>
    <% end %>
  </div> <!-- Game area -->
<% end %>

