<% provide(:current, t('pages.edit game') ) %>
<h1><%= t('pages.edit game') %></h1>

<div class="row">
  <div class="span6 offset3">
    <% @object = @game %>
    <%= form_for(@game) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>
      
      <%= f.submit "Update game", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
