<header class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-static-top navbar-inverse">
      <div class="navbar-inner">
          
          <%= link_to root_path, class: "brand", id: "logo" do %>
              <!-- <%= image_tag('home_icon.png') %> --> Billion Bits Games
          <% end %>
          <nav>
            <ul class="nav pull-left divider-vertical">
              <li <% if yield(:current) == t('pages.home') %>class="active"<% end %>>
                <%= link_to t('pages.home'), home_path %></li>
              <li <% if yield(:current) == t('pages.about') %>class="active"<% end %>>
                <%= link_to t('pages.about'), about_path %></li>
              <li <% if yield(:current) == t('pages.contact') %>class="active"<% end %>>
                <%= link_to t('pages.contact'), contact_path %></li>
              
              <% if logged_in? %>
                <li class="active"> <%= link_to current_user.email, current_user %> </li>
              <% else %>
                <li <% if yield(:current) == t('pages.login') %>class="active"<% end %>>
                  <%= link_to t('pages.login'), login_path %></li>
                <li <% if yield(:current) == t('pages.register') %>class="active"<% end %>>
                  <%= link_to t('pages.register'), register_path %></li>
              <% end %>
            
            </ul>
            <div class="btn-group pull-right">
                <% if I18n.locale == :en %> 
                  <%= link_to "English",  {locale: :en}, :class => "btn active" %>
                <% else %>
                  <%= link_to "English",  {locale: :en}, :class => "btn" %>
                <% end %>

                <% if I18n.locale == :pt %> 
                  <%= link_to "Português",  {locale: ((I18n.locale == I18n.default_locale) ? nil : I18n.default_locale)}, :class => "btn active" %>
                <% else %>
                  <%= link_to "Português",  {locale: ((I18n.locale == I18n.default_locale) ? nil : I18n.default_locale)}, :class => "btn" %>
                <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>